<div class="container__big-card">
<div class="big-card__photo">
<img src="https://media.istockphoto.com/id/1147544807/vector/thumbnail-image-vector-graphic.jpg?s=612x612&w=0&k=20&c=rnCKVbdxqkjlcs3xH87-9gocETqpspHFXu5dIGB4wuM=" alt="">
</div>
<div class="big-card__title">
<h1> <a href="">Nova versão do Angular</a></h1>
</div>
<div class="big-card__description">
<p><a href="">Placehold is a simple, fast and free image placeholder service to generate SVG, PNG, JPEG and WebP placeholder images for your project.</a></p>
</div>
</div>
